<div class="panel_1">
<h1 class="site_title">Adam Fraser</h1>
<h2 class="site_subtitle">Software Developer @<br>Dots</h2>

<ul class="social_links">
  <li>
    <a title="circleaboutme" href="/about.html"></a>
  </li>
  <li>
    <a title="circletwitterbird" href="https://twitter.com/adamfraser_"></a>
  </li>
  <li>
    <a title="circleemail" href="#"></a>
  </li>
  <li>
    <a title="circlegithubalt" href="https://github.com/adamfraser"></a>
  </li>
  <li>
    <a title="circleinstagram" href="http://instagram.com/adam.fraser"></a>
  </li>
</ul>
</div>
